.cover__subtitle {
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
  width: calc(100% - 32px);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;

  text-decoration: none;
  color: #fff;

  z-index: 2;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    margin-top: 32px;
    font-size: 18px;
    line-height: 1.22;
  }
}


