.place__link {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: white;
  text-decoration: underline;
  transition: opacity 0.3s;
}

.place__link:hover {
  opacity: 0.8;
}
