.place {
  margin: 0;
  margin-bottom: 49px;

  display: grid;
  grid-template-columns: 1fr;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
    margin-bottom: 73px;
    padding: 0 24px;
    gap: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    margin-bottom: 80px;
    padding: 0 48px;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    padding: 0 148px;
    gap: 40px;
  }
}
