.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  padding-right: 40px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07;
    padding: 0;
  }
}

